<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Main</a></li>
        <li class="nav-security {% if page.current == 'security' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/{{ site.menu_1 }}">Security</a></li>
        <li class="nav-unclassified {% if page.url contains 'unclassified' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/{{ site.menu_2 }}">Unclassified</a></li>
        <li class="nav-search {% if page.url contains 'search' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}search/">Search</a></li>
		<li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/{{ site.nickname }}">Author</a></li>
    </ul> 
	<a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>